<h1>Ajout d'un article</h1>

<%= render "form", article: @article %>

<%# <%= form_with model: @article do |f| %>
  <%# <%= f.label :title %>
  <%# <%= f.text_field :title %>
  <%# <%= f.label :details %>
  <%# <%= f.text_field :details %>
  <%# <%= f.submit %>
<%# <% end %>
